.footerBody {
    height: auto;
    text-align: center;
    width: 20vw;
}

.socialMedia {
    display: inline-flex;
    width: 10vw;
    justify-content: space-between;
    margin-bottom: 5%;
}

.footerBody h4 {
    margin: 4%;
    color: white;
}

@media only screen and (max-height: 1200px) {
    
    .footerBody h4 {
        margin: 4%;
        color: white;
        font-size: smaller;
    }

    .socialMedia {
        width: 13vw;
    }
    

}

@media only screen and (max-width: 850px) {

    .footerBody {
        height: auto;
        text-align: center;
        width: 40vw;
    }

    .footerBody h4 {
        margin: 4%;
        color: white;
        font-size: x-small;
    }

    .socialMedia {
        width: 20vw;
    }
}

@media only screen and (max-width: 450px) {

    .footerBody {
        height: auto;
        text-align: center;
        width: 70vw;
    }

    .footerBody h4 {
        margin: 4%;
        color: white;
        font-size: x-small;
    }

    .socialMedia {
        width: 40vw;
    }
}