.navbar {
    position: fixed;
    display: flex;
    top: 0;
    right: 0%;
    width: 100%;
    align-items: center;
    justify-content:right;
    padding-right: 5%;

}

.navbar li {
    list-style-type: none;
    display: inline-block;
    padding: 2%;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.mobile {
    display: none;
}

@media only screen and (max-height: 1200px) {

    .navbar {
        width: 60%;
    }

    .navbar h4{
        font-size: 0.8rem;
    }

}

@media only screen and (max-width: 450px) {

    .navbar {
        display: none;
    }

    .mobile {
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    .MuiSpeedDial-fab {
        background-color: red;
      }

    .mobile {
        position: fixed;
        display: flex;
        bottom: 0;
        right: 0%;
        width: 100%;
        align-items: center;
        justify-content:right;
        padding-right: 5%; 
    }
}