.section3body {
    width: 90%;
    /* height: 80vh; */
}

.gridContainer {
    display: grid;
    height: 85vh;
    grid-template-columns: 44vw 44vw;
    column-gap: 2vw; 
}

.projectExp {
    font-size: 2.5rem;
}

.breakLine2 {
    background-color: black;
    width: 40vw;
    height: 0.2vh;
    float: left;
}

.projects {
    clear: left;
    margin-top: 6vh;
}

.projectContent {
    margin-left: 3%;
    width: 60vw;
}

.gitLink {
    background-color: rgb(65, 65, 65);
    padding: 0.5% 3% 0.5% 3%;
    text-decoration: none;
    color: white;
    border-radius: 10%;
    margin-top: 2%;
}