.section2body {
    width: 100%;
}

.pic1 {
    float: left;
    height: 85vh;
    margin-left: 5%;
    margin-right: 5%;
}

.aboutMe {
    margin-right: 5%;
    margin-top: 3%;
}

.aboutMe h1{
    font-size: 3rem;
}

.downloadBtn {
    display: inline-flex;
    margin-top: 1%;
    width: 8vw;
}

.downloadBtn a {
    margin-left: 5%;
}

.breakLine {
    background-color: black;
    width: 40vw;
    height: 0.2vh;
    float: right;
    /* margin-top: 1%; */
}

.education {
    margin-top: 2%;
    margin-right: 5%;
    text-align: right;
}

.education h2 {
    font-size: 2.5rem;
}

.education .school {
    margin-top: 2%;
}

.education .school div {
    padding-top: 1%;
}

@media only screen and (max-height: 1200px) {
   
    .aboutMe h1 {
        font-size: 2.5rem;
    }

    .pic1 {
        height: 55vh;
    }

    .downloadBtn {
        width: 15vw;
    }

    .breakLine {
        height: 0.1vh;
        width: 55vw;
    }

    .education {
        margin-top: 0%;
        margin-right: 5%;
        text-align: right;
    }
    
    .education h2 {
        font-size: 2rem;
    }
    
    .education .school {
        display: inline-flex;
        justify-content:right;
    }

    .education .school div {
        padding-top: 1%;
        width: 30vw;
    }
}

@media only screen and (max-width: 850px) {

    .pic1 {
        height: 45vh;
    }

    .breakLine {
        width: 40vw;
    }

    .downloadBtn {
        width: 25vw;
    }

    .downloadBtn a {
        font-size: small;
    }

    .education {
        margin-top: 0%;
        margin-right: 5%;
        text-align: right;
    }
    
    .education h2 {
        font-size: 2rem;
    }
    

    .education .school h1 {
        font-size: large;
    }

    .education .school h4 {
        font-size: medium;
    }

    .education .school p {
        font-size: small;
    }

    .education .school div {
        padding-top: 1%;
        width: 40vw;
    }

}

@media only screen and (max-width: 450px) {
   
    .aboutMe {
        margin-left: 5%;
    }
    
    .aboutMe h1 {
        font-size: 1.5rem;
    }

    .aboutMe h3 {
        font-size: medium;
    }

    .aboutMe p {
        font-size: small;
    }

    .pic1 {
        height: 30vh;
    }

    .downloadBtn {
        width: 25vw;
    }

    .downloadBtn a {
        font-size: x-small;
    }

    .breakLine {
        height: 0.1vh;
        width: 55vw;
    }

    .education {
        margin-top: 0%;
        margin-right: 5%;
        text-align: right;
    }
    
    .education h2 {
        font-size: 1rem;
    }
    
    .education .school {
        display: inline-flex;
        justify-content:right;
    }

    .education .school h1 {
        font-size: medium;
    }

    .education .school h4 {
        font-size: small;
    }

    .education .school p {
        font-size: x-small;
    }

    .education .school div {
        padding-top: 1%;
        width: 45vw;
    }
}