.section2body {
    width: 100%;
}

.pic1 {
    float: left;
    height: 85vh;
    margin-left: 5%;
    margin-right: 5%;
}

.aboutMe {
    margin-right: 5%;
    margin-top: 3%;
}

.aboutMe h1{
    font-size: 3rem;
}

.downloadBtn {
    display: inline-flex;
    margin-top: 1%;
    width: 8vw;
}

.downloadBtn a {
    margin-left: 5%;
}

.breakLine {
    background-color: black;
    width: 40vw;
    height: 0.2vh;
    float: right;
    /* margin-top: 1%; */
}

.education {
    margin-top: 2%;
    margin-right: 5%;
    text-align: right;
}

.education h2 {
    font-size: 2.5rem;
}

.education .school {
    margin-top: 2%;
}

.education .school div {
    padding-top: 1%;
}