.section3body {
    width: 90%;
}

.gridContainer {
    display: grid;
    height: 85vh;
    grid-template-columns: 44vw 44vw;
    column-gap: 2vw; 
}

.projectExp {
    font-size: 2.5rem;
}

.breakLine2 {
    background-color: black;
    width: 40vw;
    height: 0.2vh;
    float: left;
}

.projects {
    clear: left;
    margin-top: 6vh;
}

.projectContent {
    margin-left: 3%;
    width: 60vw;
}

.gitLink {
    background-color: rgb(65, 65, 65);
    padding: 0.5% 3% 0.5% 3%;
    text-decoration: none;
    color: white;
    border-radius: 10%;
    margin-top: 2%;
}

@media only screen and (max-height: 1200px) {

    .projectExp {
        font-size: 2rem;
    }

    .breakLine2 {
        width: 60vw;
        height: 0.1vh;
    }

    .projects {
        clear: left;
        margin-top: 6vh;
    }

    .projects h2 {
        font-size: large;
    }

    .projects h4 {
        font-size: small;
    }

    .projects p {
        font-size: small;
    }

    .projectContent {
        margin-left: 3%;
        width: 85vw;
    }

}